@import "tailwindcss";

@theme inline {
  --color-brand-primary: #ffb3ff;
  --color-brand-accent: #cda45e;
  --color-brand-cream: #FFFDD0;
  --color-brand-gold-light: #d9ba85;
  --color-brand-dark: #1a1814;
}

:root {
  --background: #ffffff;
  --foreground: #1a1814;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1814;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-poppins {
  font-family: var(--font-poppins);
}
